@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  scroll-behavior: smooth;
}
.icon-logo {
  box-shadow: 0px 0px 12px rgba(255, 166, 0, 0.35), inset 0px 0px 12px rgba(255, 166, 0, 0.35);
}
.clients-logo-wrap.before .icon-logo::before {
  position: absolute;
  content: "";
  height: 85px;
  width: 85px;
  background-color: #fff;
  z-index: -9;
  border-radius: 50%;
}
.our-silos-section .video iframe {
  width: 100%;
}

@media screen and (max-width: 639px) {
  .clients-logo-wrap.before .icon-logo::before {
    height: 60px;
    width: 60px;
  } 
}